width=640
height=384
class=80

model_type=s
pt_path=/home/laughing/yolov5/weights/yolov5s.pt
build_dir=builds
engine_path=/home/laughing/yolov5/yolov5s.engine
tensorrtx_dir=/home/laughing/yolov5/tensorrtx
